
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ControllerActionName</title>
</head>
<body>
    <div> 
    
        @Html.DropDownList("Method", new SelectList((List<string>)ViewBag.Method), "--Select Item---", new { style = "width:310px" })
 
    </div>
</body>
</html>
