@model IEnumerable<CMS.Models.Links>



<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robi Islamic Path</title>
 
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/index.js"></script>
    <script src="~/Scripts/jquery.mobile-1.4.5.min.js"></script>
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
 
    <link href="~/Content/CSS/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <link href="~/Content/CSS/jqm-demos.css" rel="stylesheet" />
    <link href="~/Content/CSS/mystyle.css" rel="stylesheet" />
    <link href="~/Content/CSS/rTable.css" rel="stylesheet" />
    
</head>
<body>
    <div data-role="page" class="jqm-demos" data-quicklinks="false">

        <!-- header -->
        <div data-role="header" data-position="fixed" data-theme="f" data-tap-toggle="false">
            <a href="#leftPanel" data-role="button" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-myapp-settings">Back</a>
            <img src="~/Content/Images/header.png" style="max-height:30px;">
        
           
        </div>
        <!-- /header -->

        
        <!-- content -->
        <div role="main" class="ui-content jqm-content jqm-fullwidth">
            @RenderBody()
        </div><!-- /content -->

        <div class="ui-panel ui-panel-position-left ui-panel-display-push ui-body-a ui-panel-animate ui-panel-open" data-role="panel" id="leftPanel" data-position="left" data-display="push">
            <ul data-role="listview">
                <li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
                @foreach (var item in Model)
                {
                    <li data-filtertext="wai-aria voiceover accessibility screen reader">
                        @Html.ActionLink(item.Name, "MenuList", new { id = item.ID, url = item.URL, name = item.Name,  })
                        @*url = item.URL,*@
                    </li>
                }
                <li data-filtertext="wai-aria voiceover accessibility screen reader">
                    @Html.ActionLink("সেটিংস", "Settings", "Home", new { @class = "ui-btn ui-btn-icon-right ui-icon-star" })
                </li>
            </ul>
            
        </div>

        <div id="footerDiv" data-role="footer" data-position="fixed" style="background-color: #ea2227;" data-tap-toggle="false">

            <div style="width: 50%; float:left">
                <img src="~/Content/Images/alpona.png" style="max-height:30px;">
            </div>

            <div style="width: auto; float:right">
                <img src="~/Content/Images/arrivo-logo.png" style="max-height:30px;">
            </div>
        </div><!-- /jqm-footer -->


        @*<div data-role="panel" data-position="left" data-position-fixed="false" data-display="reveal" id="nav-panel" data-theme="a">

            <ul data-role="listview" data-theme="a" data-divider-theme="a" style="margin-top:-16px;" class="nav-search">
                <li data-icon="delete" style="background-color:#111;">
                    <a href="#" data-rel="close">Close menu</a>
                </li>


                @foreach (var item in Model)
                {
                    <li data-filtertext="wai-aria voiceover accessibility screen reader">

               @Html.ActionLink(item.Name, "MenuList", new { id = item.ID, url = item.URL, name = item.Name, IsDevice = ViewBag.Header })
                       


                    </li>

                }
               

                </ul>

            <!-- panel content goes here -->
        </div><!-- /panel -->*@
    

    </div>
    
</body>
</html>
