
@{
    ViewBag.Title = "Disclaimer";
    if (ViewBag.Device == null)
    {
        Layout = "~/Views/Shared/_ShareLayout.cshtml";
    }
    else
    {
        Layout = null;
    }
}

<h2>Disclaimer</h2>

