
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Status Message</title>
</head>
<body>
     
        <div style="text-align:center">

            <table style="margin:auto">
                <tr>
                    <td style="background-color:#fbf6f6;height:70px;width:400px;color:red">
                        
                        <b>@ViewBag.Message</b>
                        <br />
                        
                    </td>
                </tr>
                
            </table>

        </div>
    
</body>
</html>
