@{
    //  Layout = null;
    Layout = "~/Views/Shared/_ShareLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnSubcribe</title>
</head>
<body>
    <div style="text-align:center">

        <table style="margin:auto">
            <tr>
                <td style="background-color:#fbf6f6;height:70px;width:400px;color:red">
                    <b>You have been successfully unsubscribed from </b><br />
                    <b>Robi Islamic Poth services. </b>
                </td>
            </tr>
            <tr>
                <td style="background-color: #fbf6f6;color:red;text-align:center;height:70px;width:400px;">
                    <b>Please subscribe again to reactivate all the </b><br />
                    <b>services.</b>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>
